@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Yuyu+Short&display=swap');


.yuyu-short-regular {
    font-family: "Yuyu Short", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.rubik-uniquifier {
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }


body {
    margin: 0;
    font-family: "DM Sans" , sans-serif;
    background-color: #aed1aa;
}
.navbar {
    font-family: "Yuyu Short", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aed1aa;
    color: white;
    padding: 15px 30px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    font-size: 4vw;
}
.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}
.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links a:hover {
    color: black;
}
.nav-links a:hover::after {
    transform: scaleX(1);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #0d1b0b;
        --background: #f5fbf5;
        --primary: #aed1aa;
        --secondary: #9cd7cb;
        --accent: #78c3c8;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #e7f5e6;
        --background: #040b04;
        --primary: #32562e;
        --secondary: #286256;
        --accent: #378186;
    }
}

h1 {
    font-family: "Rubik", sans-serif;
}
